body {
  font-family: arial;
}

h1, h2 {
  text-shadow: white 0px 1px 0px;
  background-color: lightblue;
}

h1 {
  font-size: xx-large;
}

ul {
  list-style : none;
}

input[type=submit] {
  background-color : lightgreen;
  border-color : lightgreen;
  text-shadow: white 0px 1px 0px;
}
#sidebar{
    float: left;
    width: 120px;
}
#sidebar > ul{
    padding: 0;
}
#sidebar > ul li{
    border: 1px solid gray;
}

#content{
    margin-left: 130px;
}

.icono{
	float: left;
	margin: 0 4px;
	cursor: pointer;
}

